body{
  background-color: blanchedalmond;
}

h2{
  background-color: brown;
  color: white;
}
#div11{
  background-color: brown;
  height: 250px;
  width: 250px;
  margin-left: 2px;
}
#div2{
  background-color: brown;
  height: 250px;
  width: 250px;
  margin-left: 252px;
}
#div3{
  background-color: brown;
  height: 250px;
  width: 250px;
  margin-left: 502px;
}
#div4{
  background-color: brown;
  height: 250px;
  width: 250px;
  margin-left: 752px;
}
